@model Web.Models.Categoria
@{
    ViewData["Title"] = "Categorias";
}


<div class="panel panel-default">
    <div class="panel-heading"><h4><b>Cadastro de Categorias</b></h4></div>
</div>

    
<form id="form" asp-controller="Categorias" asp-action="Cadastro" method="POST">
    <div class="form-group">
        <input type="hidden" asp-for="Id">
        <div class="row">
            <label class="col-md-1" for="Nome">Nome:</label>
            <div class="col-md-5">
                <input class="form-control" asp-for="Nome" required>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>                     
        </div>
        <div class="col-md-6 text-center" style="margin-top: 10px;">
            <button type="button" class="btn btn-success btn-sm" id="btn_salvar">Salvar</button>
            <button type="button" class="btn btn-default btn-sm" onclick="javascript: history.back();" >Cancelar</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#btn_salvar').click(function(){
            var dados = $('#form').serialize();
            if(validaForm()){
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Categorias/Duplicidade',
                    data: dados,
                    success: function(data){
                        if(data == 0){
                            $('#form').submit();
                        }
                        else{
                            alertaToast('error', 'Categoria já possui cadastro');
                        }
                    },
                    error: function(erro, desc){
                        alertaToast('error', 'Ocorreu um erro, ' + desc);
                    }
                });
            }
        });
        
    });
    function validaForm(){
        var retorno =  false;
        var msg = 'Informe os campos obrigatórios!';
        var nome = $('#Nome');

        if(nome.val() == ''){
            nome.focus();
            alertaToast('error', msg);
        }

        else{
            retorno = true;
        }
        return retorno;
    }
</script>
    
