@{
    ViewData["Title"] = "Categorias";
}


<div class="panel panel-default">
    <div class="panel-heading"><h4><b>Categorias</b></h4></div>
</div>
<a asp-controller="Categorias" asp-action="Form" class="btn btn-success btn-sm">
    <i class="glyphicon glyphicon-plus"></i> Nova Categoria
</a>

